appdirs==1.4.3
cycler==0.10.0
Cython==0.25.2
docutils==0.13.1
Kivy==1.9.2.dev0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
Pygments==2.2.0
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
