<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Title</title>
    <link rel='stylesheet' type='text/css' href='static/ui.css'>
    <script src='static/ui.js'></script>

    <!-- Bokeh -->
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
        rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    {{ bokeh_script|safe }}
</head>
<body>


    <div id='datasource'>

        {% for attr, type in attributes.items() %}
            <div class='attribute {{ type }}' id='attribute_{{ loop.index }}' draggable='true'>
                {{ attr }}
                <input type='hidden' name='attribute_{{ loop.index }}' value='{{ attr }}'>
                <input type='hidden' name='attribute_{{ loop.index }}_type' value='{{ type }}'>

            </div>
        {% endfor %}

    </div>


    <div id='dropzone'>
        <form action='/' method='POST'>

            <div id='columns_data' class='dropArea'>Rows</div>
            <div id='rows_data' class='dropArea'>Columns</div>
            <div id='color_data' class='dropArea'>Color</div>
            <div id='size_data' class='dropArea'>Size</div>

            <input type='submit' value='Recalculate'>
        </form>
    </div>

    <div id='plotcontainer'>
        {{ bokeh_div|safe }}
    </div>

</body>
</html>
